In [7]:
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [8]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf

In [9]:
init_notebook_mode(connected=True)

In [10]:
cf.go_offline()

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [6]:
movie = pd.read_csv('tmdb_5000_movies.csv')
movies = movie[['title','release_date','budget','revenue','runtime','popularity','vote_average','vote_count']]
movies.head(8)

,title,release_date,budget,revenue,runtime,popularity,vote_average,vote_count
0,Avatar,2009-12-10,237000000,2787965087,162.0,150.437577,7.2,11800
1,Pirates of the Caribbean: At World's End,2007-05-19,300000000,961000000,169.0,139.082615,6.9,4500
2,Spectre,2015-10-26,245000000,880674609,148.0,107.376788,6.3,4466
3,The Dark Knight Rises,2012-07-16,250000000,1084939099,165.0,112.312950,7.6,9106
4,John Carter,2012-03-07,260000000,284139100,132.0,43.926995,6.1,2124
5,Spider-Man 3,2007-05-01,258000000,890871626,139.0,115.699814,5.9,3576
6,Tangled,2010-11-24,260000000,591794936,100.0,48.681969,7.4,3330
7,Avengers: Age of Ultron,2015-04-22,280000000,1405403694,141.0,134.279229,7.3,6767

In [3]:
movies.shape

(4803, 9)

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 8 columns):
title           4803 non-null object
release_date    4802 non-null object
budget          4803 non-null int64
revenue         4803 non-null int64
runtime         4801 non-null float64
popularity      4803 non-null float64
vote_average    4803 non-null float64
vote_count      4803 non-null int64
dtypes: float64(3), int64(3), object(2)
memory usage: 300.3+ KB

## About this data set
This data set was scraped from the webpage Imdb.  It is the break down of just under 5000 movies. I have removed a handful of columns to focus on specific data.

## Hypotheses

1) 

2) 

3)